<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tickTextSize</key>
	<integer>12</integer>
	<key>titleTextSize</key>
	<integer>18</integer>
	<key>axisTooltipTextSize</key>
	<integer>12</integer>
	<key>defaultTextSize</key>
	<integer>10</integer>
	<key>textAnnotationTextSize</key>
	<integer>12</integer>
	<key>lineAnnotationLineThickness</key>
	<integer>2</integer>
	<key>renderableSeriesAreaStrokeThickness</key>
	<integer>1</integer>
	<key>majorTickLineLength</key>
	<integer>8</integer>
	<key>minorTickLineLength</key>
	<integer>4</integer>
	<key>sciChartBackground</key>
	<dict>
		<key>solid</key>
		<string>#FF2F313E</string>
	</dict>
	<key>legendBackground</key>
	<dict>
		<key>strokeThickness</key>
		<string>1</string>
		<key>stroke</key>
		<string>#FF5a5b5b</string>
		<key>solid</key>
		<string>#FF1D2C35</string>
	</dict>
	<key>renderableSeriesAreaBorderColor</key>
	<string>#00000000</string>
	<key>renderableSeriesAreaFillColor</key>
	<string>#FF2A2738</string>
	<key>defaultTextColor</key>
	<string>#FFEEEEEE</string>
	<key>tickTextColor</key>
	<string>#FFA6A7AC</string>
	<key>majorGridLineColor</key>
	<string>#FF302C40</string>
	<key>majorGridLinesColor</key>
	<string>#FF302C40</string>
	<key>minorGridLineColor</key>
	<string>#FF232426</string>
	<key>minorGridLinesColor</key>
	<string>#FF232426</string>
	<key>axisBandsColor</key>
	<string>#E1202123</string>
	<key>rolloverLineColor</key>
	<string>#7742b649</string>
	<key>cursorLineColor</key>
	<string>#7742b649</string>
	<key>rubberBandStrokeColor</key>
	<string>#7742b649</string>
	<key>rubberBandFillColor</key>
	<string>#3342b649</string>
	<key>axisTooltipTextColor</key>
	<string>#FFEEEEEE</string>
	<key>axisTooltipBackground</key>
	<dict>
		<key>strokeThickness</key>
		<string>1</string>
		<key>stroke</key>
		<string>#FF42b649</string>
		<key>solid</key>
		<string>#AA42b649</string>
	</dict>
	<key>labelBackground</key>
	<dict>
		<key>strokeThickness</key>
		<string>1</string>
		<key>stroke</key>
		<string>#FF42b649</string>
		<key>solid</key>
		<string>#AA42b649</string>
	</dict>
	<key>mountainLineColor</key>
	<string>#FFC6E6FF</string>
	<key>mountainAreaColor</key>
	<string>#774083B7</string>
	<key>lineSeriesColor</key>
	<string>#FFC6E6FF</string>
	<key>columnLineColor</key>
	<string>#FFFFFFFF</string>
	<key>columnFillColor</key>
	<string>#FFFFFFFF</string>
	<key>candleStickStrokeUpColor</key>
	<string>#FF52CC54</string>
	<key>candleStickStrokeDownColor</key>
	<string>#FFE26565</string>
	<key>candleStickFillUpColor</key>
	<string>#A052CC54</string>
	<key>candleStickFillDownColor</key>
	<string>#D0E26565</string>
	<key>bandStrokeUpColor</key>
	<string>#FF52CC54</string>
	<key>bandStrokeDownColor</key>
	<string>#FFE26565</string>
	<key>bandFillUpColor</key>
	<string>#9052CC54</string>
	<key>bandFillDownColor</key>
	<string>#A0E26565</string>
	<key>lineAnnotationLineColor</key>
	<string>#7742b649</string>
	<key>textAnnotationTextColor</key>
	<string>#FFEEEEEE</string>
	<key>textAnnotationBackgroundColor</key>
	<string>#AA42b649</string>
	<key>defaultAnnotationGripsStrokeColor</key>
	<string>#FFEEEEEE</string>
	<key>defaultAnnotationGripsBackgroundColor</key>
	<string>#33FFFFFF</string>
</dict>
</plist>
